<div class="container">
  <div class="row">
    <div class="col-md-12 padding-10">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="vm.new_todo" placeholder="Add task...">
         <span class="input-group-btn">
        <button ng-click="vm.newTodo()" class="btn btn-success" type="button"><i class="fa fa-plus-circle"></i></button>
      </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div ng-repeat="todo in vm.todos" class="row todo-item">
        <div class="col-md-1 action left">
          <button ng-click="vm.finishTodo(todo)" ng-disabled="todo.done" type="button" class="btn btn-default btn-circle"><i class="fa fa-check"></i></button>
        </div>
        <div class="col-md-10">
          <h2 ng-class="{'done':todo.done}">{{todo.name}}</h2>
        </div>
        <div class="col-md-1 action right">
          <button ng-click="vm.deleteTodo(todo)" type="button" class="btn btn-danger btn-circle"><i class="fa fa-times"></i></button>
        </div>

      </div>
    </div>
  </div>
</div>

